<!DOCTYPE html>
<html>
  <head>
    <title>eShopping Dashboard</title>
  </head>
  <body>
    <h1 id="header">Welcome, <%= user.charAt(0).toUpperCase() + user.slice(1) %></h1>
    <p id="greeting-prompt">What would you like to do?</p>
    <button id="shop-button" onclick="window.location.href='/shop';">
      Shop
    </button>
    <button id="logout-button" onclick="window.location.href='/logout';">
      Logout
    </button>
  </body>
</html>