<!DOCTYPE html>
<html>
  <head>
    <title>eShopping Homepage</title>
  </head>
  <body>
    <h1 id="header">Welcome to the eShopping Homepage</h1>
    <p id="greeting-prompt">What would you like to do?</p>
    <button id="login-button" onclick="window.location.href='/login';">
      Login
    </button>
    <button id="register-button" onclick="window.location.href='/register';">
      Register
    </button>
  </body>
</html>